src/flows/SlackChannels.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Channel</name>
        <label>Create Channel</label>
        <locationX>371</locationX>
        <locationY>50</locationY>
        <actionName>SlackAPIToolKit</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateLink</targetReference>
        </connector>
        <inputParameters>
            <name>channel</name>
            <value>
                <elementReference>Channel_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UpdateLink</name>
        <label>UpdateLink</label>
        <locationX>549</locationX>
        <locationY>50</locationY>
        <actionName>UpdateChannelLink</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateChannelLink</targetReference>
        </connector>
        <inputParameters>
            <name>channelLink</name>
            <value>
                <elementReference>channelLink</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>channelLink</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>SlackChannels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SlackChannels</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateChannelLink</name>
        <label>updateChannelLink</label>
        <locationX>720</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>SlackChannelLink__c</field>
            <value>
                <elementReference>channelLink</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Creating_Slack_Channel</name>
        <label>Creating Slack Channel</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Channel</targetReference>
        </connector>
        <fields>
            <name>Channel_Name</name>
            <dataType>String</dataType>
            <fieldText>Channel Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Creating_Slack_Channel</startElementReference>
    <status>Active</status>
    <variables>
        <name>channelLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChannelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
